{% extends "base.html" %}
{% block content %}

    <div class="row card-panel #e8f5e9 green lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_division') }}">
            <h3 class="center-align">Add Division</h3>
            <!-- division name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix text-darken-4"></i>
                    <input id="division_name" name="division_name" minlength="3" maxlength="25"
                        type="text" class="validate" required>
                    <label for="division_name">Division Name</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large #1b5e20 green darken-4 text-shadow">
                        Add Division <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}