{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Manage Division</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_division') }}" class="btn-large #1b5e20 green darken-4 text-shadow">
                Add Division <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for division in divisions %}
            <div class="col s12 m3">
                <div class="card #1b5e20 green darken-4 center-align">
                    <div class="card-content white-text">
                        <span class="card-title">{{ division.division_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('edit_division', division_id=division._id) }}" class="btn #388e3c green darken-2">Edit</a>
                        <a href="{{ url_for('delete_division', division_id=division._id) }}" class="btn #f44336 red">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}