{% extends "base.html" %}
{% block content %}

    <!-- main text -->
    <section>
        <h2 class="center-align">Our Bucketlist Collection!</h2>
    </section>

    <!-- all intentions -->
    {% if intentions|length > 0 %}
    <ul class="collapsible popout">
        {% for intention in intentions %}
        <li>
            <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == intention.created_by|lower %}
                        <a href="{{ url_for('delete_intention', intention_id=intention._id) }}" class="btn-small green accent-4">Done</a>
                        <a href="{{ url_for('edit_intention', intention_id=intention._id) }}" class="btn-small green accent-4">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">
                    {{ intention.division_name }}:
                    <strong>{{ intention.intention_name }}</strong>-
                    <em>by: {{ intention.created_by }}</em>
                </div>
            </div>
            <div class="collapsible-body white-text #388e3c green darken-2 text-shadow">
                <h5>{{ intention.intention_description }}</h5>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}

{% endblock %}