{% extends "base.html" %}
{% block content %}

    <div class="row center-align">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <p style="font-size:26px">What are your intentions?</p>
                <p style="font-size:18px">When you write them down, they're more likely to happen!</p>
                <img src="https://cdn.pixabay.com/photo/2019/11/07/20/24/check-list-4609829_1280.png" width="500" height="300">
            </div>
        </div>
    </div>

{% endblock %}