{% extends "base.html" %}
{% block content %}

    <div class="row center-align">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel  #e8f5e9 green lighten-5">
                <p style="font-size:26px">{{ username }} what are your intentions?</p>
                <p style="font-size:18px">When you write them down, they're more likely to happen!</p>
                <a href="{{ url_for('add_intention') }}" class="#1b5e20 green darken-4 btn">
                Add New Intention<i class="fas fa-plus-square right"></i></a><br>
            </div>
            <div class="card-panel  #e8f5e9 green lighten-5">
            <!-- delete account -->
                <p style="font-size:26px">No more intentions to set?</p>
                <p>You can delete your profile by clicking the button below.</p>
            <!-- Trigger modal confirmation deletion profile  -->
                <a href="{{ url_for('delete_profile', user_id=username) }}" type="button" class="btn btn-danger close red">
                Delete Profile <i class="fas fa-times-circle right"></i></a><br><br>

            </div>
        </div>
    </div>

{% endblock %}