{% extends "base.html" %}
{% block content %}


    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel #e8f5e9 green lighten-5">
                <h3 class="center-align">Register</h3>
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user prefix"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-unlock-alt prefix"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- first name -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user prefix"></i>
						<input id="first_name" name="first_name" type="text" minlength="2"
                            maxlength="25" pattern="^[a-zA-Z]{2,25}$" class="validate">
						<label for="first_name">First Name</label>
					</div>
                </div>
                <!-- last name -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user prefix"></i>
						<input id="last_name" name="last_name" type="text" minlength="2"
                            maxlength="25" pattern="^[a-zA-Z]{2,25}$" class="validate">
						<label for="last_name">Last Name</label>
					</div>
                </div>
                <!-- age -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user prefix"></i>
						<input id="age" name="age" type="text" minlength="2"
                            maxlength="3" pattern="^[0-9]{2,3}$" class="validate">
						<label for="age">Age</label>
					</div>
                </div>
                <!-- country -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user prefix"></i>
						<input id="country" name="country" type="text" minlength="3"
                            maxlength="15" pattern="^[a-zA-Z]{3,15}$" class="validate">
						<label for="country">Country</label>
					</div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large #1b5e20 green darken-4 text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
                <!-- login -->
                <div class="row">
                    <div class="col s12">
                        <p class="center-align">Already have an account?
                        <u><a href="{{ url_for('login') }}"  class="black-text">Log In here</a></u>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>

    

{% endblock %}